* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #4d4d4d;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    background: transparent;
    border-bottom: 1px solid rgba(100, 100, 100, 0.658);
}

.search-bar button{
    padding: 5px 10px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.search-bar input {
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;
    width: 200px;
}

.search-bar input:hover {
    border: none;
    border-bottom: 2px solid white;
}
.search-bar input:focus {
    border-bottom: 2px solid white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.bg {
    position: relative;
    bottom: 100px;
    z-index: -1;
}

.bg img {
    width: 100%;
}

.product-1 {
    position: relative;
    bottom: 750px;
    font-size: 30px;
    color: white;
    padding: 0 70px;
}

.product-main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-1 button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
}

.Performance {
    position: relative;
    top: 550px;
    color: black;
}

.Performance-main {
    display: flex;
    justify-content: space-evenly;
    height: 180px;
}

.first {
    border-right: 1px solid rgba(0, 0, 0, 0.541);
    padding-right: 100px;
    height: 180px;
}

.second {
    border-right: 1px solid rgba(0, 0, 0, 0.541);
    padding-right: 100px;
    height: 180px;
}

.laws {
    font-size: 16px;
    position: absolute;
    right: 80px;
    bottom: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}