* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #4d4d4d;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: transparent;
    border-bottom: 1px solid rgba(100, 100, 100, 0.658);
}

.logo a {
    text-decoration-line: none;
    color: white;
}

.buttonn a {
    text-decoration-line: none;
    color: black;
}

.search-bar button{
    padding: 5px 10px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.search-bar input {
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;
    width: 200px;
}

.search-bar input:hover {
    border: none;
    border-bottom: 2px solid white;
}
.search-bar input:focus {
    border-bottom: 2px solid white;
}

.bg img{
    width: 100%;
    height: 900px;
    z-index: -1;
    position: relative;
    bottom: 100px;
}

.main-bg{
    position: relative;
}

.textt{
    position: absolute;
    top: 150px;
    left: 270px;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textt button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-icon {
    width: 13px;
    height: 13px;
}

.car-info{
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.car-info p {
    display: flex;
    gap: 5px;
    align-items: center;
}

header h1 {
    color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.ragaca {
    padding: 10px 50px;
}

main {
    padding: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 20px;
    justify-content: space-evenly;
    gap: 80px;
}

.top {
    border-bottom: 1px solid  rgba(90, 90, 90, 0.568);
    padding-bottom: 10px;
}

.middle {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid  rgba(90, 90, 90, 0.568);
}

.bottom {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.product a {
    color: #007bff;
    text-decoration: none;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.img {
    width: 298px;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

/* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
} */

.topp {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
}

.rightt {
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
    padding: 0 20px;
}

.rightt input {
    outline: none;
    border: none;
}

.rightt button {
    border: none;
    background-color: black;
    color: white;
    width: 90px;
    height: 35px;
    border-radius: 10px;
}

.line {
    padding: 30px 100px;
    color: rgba(0, 0, 0, 0.568);
}

.middlee {
    display: flex;
    padding: 30px 100px;
    gap: 100px;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
}

.company {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.company h2 {
    font-size: 30px;
}

.company-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 19px;
}

.company-main a {
    text-decoration-line: none;
    color: black;
}

.quick-links {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quick-links h2 {
    font-size: 30px;
}

.quick-links-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 19px;
}

.quick-links-main a {
    text-decoration-line: none;
    color: black;
}

.our-brands {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.our-brands h2 {
    font-size: 30px;
}

.our-brands-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 19px;
}

.our-brands-main a {
    text-decoration-line: none;
    color: black;
}

.vehicles-type {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.vehicles-type h2 {
    font-size: 30px;
}

.vehicles-type-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 19px;
}

.vehicles-type-main a {
    text-decoration-line: none;
    color: black;
}

.sale-hours {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sale-hours h2 {
    font-size: 30px;
}

.sale-hours-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 19px;
}

.iconn {
    display: flex;
    gap: 25px;   
}

.bottomm {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}